* text=auto !eol
/.cvsignore -text
/chrome.manifest -text
chrome/.cvsignore -text
chrome/content/danbooruup/danbooruUp.js -text
chrome/content/danbooruup/danbooruUp.xml -text
chrome/content/danbooruup/danbooruUp.xul -text
chrome/content/danbooruup/danbooruUpBox.js -text
chrome/content/danbooruup/danbooruUpBox.xul -text
chrome/content/danbooruup/danbooruUpMeta.js -text
chrome/content/danbooruup/danbooruUpMeta.xul -text
chrome/content/danbooruup/danbooruUpOptions.js -text
chrome/content/danbooruup/danbooruUpOptions.xul -text
chrome/content/danbooruup/extra/ac-insert.js -text
chrome/content/danbooruup/extra/controls.js -text
chrome/content/danbooruup/extra/du-autocompleter.js -text
chrome/content/danbooruup/extra/effects.js -text
chrome/content/danbooruup/extra/prototype.js -text
chrome/content/danbooruup/uploader.js -text
chrome/locale/en-US/danbooruup/danbooruUp.dtd -text
chrome/locale/en-US/danbooruup/danbooruUp.properties -text
chrome/locale/en-US/danbooruup/danbooruUpOptions.dtd -text
chrome/skin/classic/danbooruup/danbooru-attention.gif -text
chrome/skin/classic/danbooruup/danbooru-uploading.gif -text
chrome/skin/classic/danbooruup/danbooruUp.css -text
chrome/skin/classic/danbooruup/icon-large.png -text
chrome/skin/classic/danbooruup/icon.ico -text
components/Makefile -text
components/Makefile.in -text
components/danbooru/.cvsignore -text
components/danbooru/Makefile.debug -text
components/danbooru/Makefile.in -text
components/danbooru/Makefile.release -text
components/danbooru/module.ver -text
components/danbooru/nsAutoCompleteArrayResult.cpp -text
components/danbooru/nsAutoCompleteArrayResult.h -text
components/danbooru/nsDanbooruAutoComplete.cpp -text
components/danbooru/nsDanbooruAutoComplete.h -text
components/danbooru/nsDanbooruAutoCompleteModule.cpp -text
components/danbooru/nsDanbooruTagHistoryService.cpp -text
components/danbooru/nsDanbooruTagHistoryService.h -text
components/danbooru/nsIAutoCompleteArrayResult.idl -text
components/danbooru/nsIDanbooruAutoComplete.idl -text
components/danbooru/nsIDanbooruTagHistoryService.idl -text
components/danbooru/win32.order -text
components/danbooruUpHelper.idl -text
components/danbooruUpHelper.js -text
defaults/preferences/danbooruup.js -text
/install.rdf -text
/package.bat -text
