/*.xpi
chrome/danbooruup.jar
components/*.xpt
components/_javagen
components/_xpidlgen
components/danbooru/*.ilk
components/danbooru/*.obj
components/danbooru/*.pdb
components/danbooru/.deps
components/danbooru/Makefile
components/danbooru/_javagen
components/danbooru/_xpidlgen
components/danbooru/danbruac.dll
components/danbooru/dependentLibs.h
components/danbooru/fake-import
components/danbooru/libdanbooruac.so
components/danbooru/module.rc
components/danbooru/module.res
/platform
