* text=auto !eol
build/danbooruup.xpi -text
/chrome.manifest -text
chrome/.cvsignore -text
chrome/content/danbooruup/autoCompleter.js -text
chrome/content/danbooruup/autoCompleterXULPopup.js -text
chrome/content/danbooruup/danbooruToolbar.xul -text
chrome/content/danbooruup/danbooruUp.js -text
chrome/content/danbooruup/danbooruUp.xul -text
chrome/content/danbooruup/danbooruUpBox.js -text
chrome/content/danbooruup/danbooruUpBox.xul -text
chrome/content/danbooruup/danbooruUpDown.js -text
chrome/content/danbooruup/danbooruUpDown.xul -text
chrome/content/danbooruup/danbooruUpMeta.js -text
chrome/content/danbooruup/danbooruUpMeta.xul -text
chrome/content/danbooruup/danbooruUpOptions-autocomplete.xul -text
chrome/content/danbooruup/danbooruUpOptions-danbooru.xul -text
chrome/content/danbooruup/danbooruUpOptions-general.xul -text
chrome/content/danbooruup/danbooruUpOptions-style.xul -text
chrome/content/danbooruup/danbooruUpOptions.js -text
chrome/content/danbooruup/danbooruUpOptions.xul -text
chrome/content/danbooruup/danbooruUpTagStyle.js -text
chrome/content/danbooruup/site_injection/ac-insert2.js -text
chrome/content/danbooruup/site_injection/attacher.js -text
chrome/content/danbooruup/site_injection/autoCompleterHTMLPopup.js -text
chrome/content/danbooruup/site_injection/completer.js -text
chrome/content/danbooruup/uploader.js -text
chrome/content/danbooruup/utils.js -text
chrome/locale/en-US/danbooruup/danbooruUp.dtd -text
chrome/locale/en-US/danbooruup/danbooruUp.properties -text
chrome/locale/en-US/danbooruup/danbooruUpOptions.dtd -text
chrome/skin/classic/danbooruup-lnx/danbooruUpOptions.css -text
chrome/skin/classic/danbooruup-mac/danbooruUpOptions.css -text
chrome/skin/classic/danbooruup-win/danbooruUpOptions.css -text
chrome/skin/classic/danbooruup/Throbber-small.gif -text
chrome/skin/classic/danbooruup/Throbber-small.png -text
chrome/skin/classic/danbooruup/Weblink.png -text
chrome/skin/classic/danbooruup/arrow-lft-sharp.gif -text
chrome/skin/classic/danbooruup/arrow-rit-sharp.gif -text
chrome/skin/classic/danbooruup/danbooru-attention.gif -text
chrome/skin/classic/danbooruup/danbooru-uploading.gif -text
chrome/skin/classic/danbooruup/danbooruUp.css -text
chrome/skin/classic/danbooruup/danbooruup-autocomplete.css -text
chrome/skin/classic/danbooruup/glass-trimmed.png -text
chrome/skin/classic/danbooruup/icon-large.png -text
chrome/skin/classic/danbooruup/icon.ico -text
components/.cvsignore -text
components/danbooru/.cvsignore -text
components/danbooru/danbooruISearchCallback.idl -text
components/danbooru/danbooruITagHistoryService.idl -text
components/danbooru/danbooruUpHelper.idl -text
components/danbooru/makexpt.sh -text
components/danbooruTagHistoryService.js -text
components/danbooruUpHelper.js -text
defaults/preferences/danbooruup.js -text
/install.rdf -text
/makeUserJS.py -text
/package.bat -text
/package.sh -text
scripts/note_history.py -text
scripts/sort_users.py -text
userjs/danbooruNoteHistory.js -text
userjs/danbooruNotes.js -text
userjs/danbooruUpUserJS.js.template -text
